/* --- HEADER --- */
/*header*/
.header {
  background-color: #1a1919ff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc99;
  border-top: 1px solid #cccccc99;
  box-shadow: 0 0 45px 0 #cccccc99;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 0.5rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  background: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.25s ease;
  font-size: 13px;
}

.nav a:hover {
  border-bottom: 3px solid #fff;
  color: #fff;
}

/* === AGREGADO: Centrar nav en el header === */
.nav {
  display: flex;
  gap: 10px;
  margin: 0 auto; /* centra el nav */
}

.login-btn {
  text-decoration: none;
  background: none;
  color: #fdfdfd;
  border-bottom: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.25s ease;
}

.login-btn:hover {
  border: 0;
  border-bottom: 3px solid #fff;
  color: #fff;
}

/* === AGREGADO: Contenedor para agrupar los botones a la derecha === */
.header-buttons {
  display: flex;
  gap: 10px;
}

/*fin header*/